<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sqlConnectionString" value="Server=.;Database=SQL_Service;Trusted_Connection=True;"/>
    <add key="PluginPath" value="\Plugins\"/>
    <add key="SQLService" value="\Plugins\SQLService.dll"/>
    <add key="ModuleLoader" value="\Plugins\ModuleLoader.dll"/>
    <add key="Regular" value="\Icons\regular.png"/>
    <add key="Trigonometry" value="\Icons\trigonometry.png"/>
  </appSettings>
</configuration>